<div id="container"></div>
<button class="button-84" (click)="onClickConsoleLog()" style="left: 30px; top:30px;">console.log</button>


<button class="button-84" (click)="debug = !debug; onClickDebug();" style="right: 30px; top:30px;">Debug</button>
<div class="rectangle" *ngIf="debug">

  <body>
    <header>Debug Viewer:</header>

    <p>Camera Position: </p>
    <p> X: {{ camera.position.x | number: '1.0-0' }},
      Y: {{ camera.position.y | number: '1.0-0' }},
      Z: {{ camera.position.z | number: '1.0-0' }},</p>

    <p>Camera Rotation:</p>
    <p> X: {{ camera.rotation.x | number: '1.2-2' }},
      Y: {{ camera.rotation.y | number: '1.2-2' }},
      Z: {{ camera.rotation.z | number: '1.2-2' }},</p>
    <p>Red is X,Green is Y, Blue is Z</p>

  </body>
</div>
